ClassLibrary2/Connected Services/ServiceReference1/schemas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ppsr.gov.au/2016/05/services" elementFormDefault="qualified" targetNamespace="http://schemas.ppsr.gov.au/2016/05/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schemas.ppsr.gov.au.2016.05.data.xsd" namespace="http://schemas.ppsr.gov.au/2016/05/data" />
  <xs:element name="CreateAlertNotificationRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="CreateAlertNotificationRequest" nillable="true" type="q1:CreateAlertNotificationRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TargetEnvironment" nillable="true" type="xs:string" />
  <xs:element name="CreateAlertNotificationResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="CreateAlertNotificationResponse" nillable="true" type="q2:CreateAlertNotificationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmendAlertNotificationRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="AmendAlertNotificationRequest" nillable="true" type="q3:AmendAlertNotificationRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmendAlertNotificationResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="AmendAlertNotificationResponse" nillable="true" type="q4:AmendAlertNotificationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAlertNotificationRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveAlertNotificationRequest" nillable="true" type="q5:RetrieveAlertNotificationRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAlertNotificationResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveAlertNotificationResponse" nillable="true" type="q6:RetrieveAlertNotificationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAlertNotificationsRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveAlertNotificationsRequest" nillable="true" type="q7:RetrieveAlertNotificationsRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAlertNotificationsResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveAlertNotificationsResponse" nillable="true" type="q8:RetrieveAlertNotificationsResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAlertNotificationRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="CancelAlertNotificationRequest" nillable="true" type="q9:CancelAlertNotificationRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAlertNotificationResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="CancelAlertNotificationResponse" nillable="true" type="q10:CancelAlertNotificationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMessagesRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveMessagesRequest" nillable="true" type="q11:RetrieveMessagesRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMessagesResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveMessagesResponse" nillable="true" type="q12:RetrieveMessagesResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMessagePdfRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveMessagePdfRequest" nillable="true" type="q13:RetrieveMessagePdfRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMessagePdfResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveMessagePdfResponse" nillable="true" type="q14:RetrieveMessagePdfResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessagesRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="DeleteMessagesRequest" nillable="true" type="q15:DeleteMessagesRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q16="http://schemas.ppsr.gov.au/2016/05/data" name="DeleteMessagesResponse" nillable="true" type="q16:DeleteMessagesResponseType" />
  <xs:element name="CreateRegistrationsRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="CreateRegistrationsRequest" nillable="true" type="q17:CreateRegistrationsRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRegistrationsResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="CreateRegistrationsResponse" nillable="true" type="q18:CreateRegistrationsResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRegistrationAttachmentRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="UploadRegistrationAttachmentRequest" nillable="true" type="q19:UploadRegistrationAttachmentRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRegistrationAttachmentResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="UploadRegistrationAttachmentResponse" nillable="true" type="q20:UploadRegistrationAttachmentResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRegistrationRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveRegistrationRequest" nillable="true" type="q21:RetrieveRegistrationRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRegistrationResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveRegistrationResponse" nillable="true" type="q22:RetrieveRegistrationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRegistrationAttachmentRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveRegistrationAttachmentRequest" nillable="true" type="q23:RetrieveRegistrationAttachmentRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRegistrationAttachmentResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveRegistrationAttachmentResponse" nillable="true" type="q24:RetrieveRegistrationAttachmentResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmendRegistrationRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="AmendRegistrationRequest" nillable="true" type="q25:AmendRegistrationRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmendRegistrationResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="AmendRegistrationResponse" nillable="true" type="q26:AmendRegistrationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DischargeRegistrationRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="DischargeRegistrationRequest" nillable="true" type="q27:DischargeRegistrationRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DischargeRegistrationResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="DischargeRegistrationResponse" nillable="true" type="q28:DischargeRegistrationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferSingleRegistrationRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="TransferSingleRegistrationRequest" nillable="true" type="q29:TransferSingleRegistrationRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferSingleRegistrationResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="TransferSingleRegistrationResponse" nillable="true" type="q30:TransferSingleRegistrationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferAllRegistrationsRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="TransferAllRegistrationsRequest" nillable="true" type="q31:TransferAllRegistrationsRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferAllRegistrationsResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="TransferAllRegistrationsResponse" nillable="true" type="q32:TransferAllRegistrationsResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferMultipleRegistrationsRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="TransferMultipleRegistrationsRequest" nillable="true" type="q33:TransferMultipleRegistrationsRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferMultipleRegistrationsResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="TransferMultipleRegistrationsResponse" nillable="true" type="q34:TransferMultipleRegistrationsResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetRegistrationTokenRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="ResetRegistrationTokenRequest" nillable="true" type="q35:ResetRegistrationTokenRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetRegistrationTokenResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="ResetRegistrationTokenResponse" nillable="true" type="q36:ResetRegistrationTokenResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReissueVerificationStatementRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="ReissueVerificationStatementRequest" nillable="true" type="q37:ReissueVerificationStatementRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReissueVerificationStatementResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="ReissueVerificationStatementResponse" nillable="true" type="q38:ReissueVerificationStatementResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarOverrideAmendRegistrationRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RegistrarOverrideAmendRegistrationRequest" nillable="true" type="q39:RegistrarOverrideAmendRegistrationRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarOverrideAmendRegistrationResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RegistrarOverrideAmendRegistrationResponse" nillable="true" type="q40:RegistrarOverrideAmendRegistrationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByRegistrationNumberRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="SearchByRegistrationNumberRequest" nillable="true" type="q41:SearchByRegistrationNumberRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByRegistrationNumberResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="SearchByRegistrationNumberResponse" nillable="true" type="q42:SearchByRegistrationNumberResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBySerialNumberRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="SearchBySerialNumberRequest" nillable="true" type="q43:SearchBySerialNumberRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBySerialNumberResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="SearchBySerialNumberResponse" nillable="true" type="q44:SearchBySerialNumberResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByGrantorRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="SearchByGrantorRequest" nillable="true" type="q45:SearchByGrantorRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByGrantorResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="SearchByGrantorResponse" nillable="true" type="q46:SearchByGrantorResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByGrantorAndEventDateRangeRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="SearchByGrantorAndEventDateRangeRequest" nillable="true" type="q47:SearchByGrantorAndEventDateRangeRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByGrantorAndEventDateRangeResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="SearchByGrantorAndEventDateRangeResponse" nillable="true" type="q48:SearchByGrantorAndEventDateRangeResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdinalSearchRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="OrdinalSearchRequest" nillable="true" type="q49:OrdinalSearchRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdinalSearchResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="OrdinalSearchResponse" nillable="true" type="q50:OrdinalSearchResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSearchResultRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSearchResultRequest" nillable="true" type="q51:RetrieveSearchResultRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSearchResultResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSearchResultResponse" nillable="true" type="q52:RetrieveSearchResultResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSearchResultRegistrationAttachmentRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSearchResultRegistrationAttachmentRequest" nillable="true" type="q53:RetrieveSearchResultRegistrationAttachmentRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSearchResultRegistrationAttachmentResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSearchResultRegistrationAttachmentResponse" nillable="true" type="q54:RetrieveSearchResultRegistrationAttachmentResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveGrantorSearchResultDetailRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveGrantorSearchResultDetailRequest" nillable="true" type="q55:RetrieveGrantorSearchResultDetailRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveGrantorSearchResultDetailResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveGrantorSearchResultDetailResponse" nillable="true" type="q56:RetrieveGrantorSearchResultDetailResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterGrantorSearchResultRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="FilterGrantorSearchResultRequest" nillable="true" type="q57:FilterGrantorSearchResultRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterGrantorSearchResultResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="FilterGrantorSearchResultResponse" nillable="true" type="q58:FilterGrantorSearchResultResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterGrantorAndEventDateRangeSearchResultRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="FilterGrantorAndEventDateRangeSearchResultRequest" nillable="true" type="q59:FilterGrantorAndEventDateRangeSearchResultRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterGrantorAndEventDateRangeSearchResultResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="FilterGrantorAndEventDateRangeSearchResultResponse" nillable="true" type="q60:FilterGrantorAndEventDateRangeSearchResultResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRegistrationHistoryDetailRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveRegistrationHistoryDetailRequest" nillable="true" type="q61:RetrieveRegistrationHistoryDetailRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRegistrationHistoryDetailResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveRegistrationHistoryDetailResponse" nillable="true" type="q62:RetrieveRegistrationHistoryDetailResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSearchCertificateRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RequestSearchCertificateRequest" nillable="true" type="q63:RequestSearchCertificateRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSearchCertificateResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RequestSearchCertificateResponse" nillable="true" type="q64:RequestSearchCertificateResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSearchCertificateRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSearchCertificateRequest" nillable="true" type="q65:RetrieveSearchCertificateRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSearchCertificateResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSearchCertificateResponse" nillable="true" type="q66:RetrieveSearchCertificateResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSearchCertificateRegistrationAttachmentRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSearchCertificateRegistrationAttachmentRequest" nillable="true" type="q67:RetrieveSearchCertificateRegistrationAttachmentRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSearchCertificateRegistrationAttachmentResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSearchCertificateRegistrationAttachmentResponse" nillable="true" type="q68:RetrieveSearchCertificateRegistrationAttachmentResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSearchCertificatesRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RequestSearchCertificatesRequest" nillable="true" type="q69:RequestSearchCertificatesRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSearchCertificatesResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RequestSearchCertificatesResponse" nillable="true" type="q70:RequestSearchCertificatesResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="PingRequest" nillable="true" type="q71:PingRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="PingResponse" nillable="true" type="q72:PingResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeB2GPasswordRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="ChangeB2GPasswordRequest" nillable="true" type="q73:ChangeB2GPasswordRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeB2GPasswordResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="ChangeB2GPasswordResponse" nillable="true" type="q74:ChangeB2GPasswordResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLaxSupportedRequestMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLaxSupportedResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="IsLaxSupportedResponse" nillable="true" type="q75:IsLaxSupportedResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestReportRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RequestReportRequest" nillable="true" type="q76:RequestReportRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestReportResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RequestReportResponse" nillable="true" type="q77:RequestReportResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveReportRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveReportRequest" nillable="true" type="q78:RetrieveReportRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveReportResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveReportResponse" nillable="true" type="q79:RetrieveReportResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveReportSummariesRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveReportSummariesRequest" nillable="true" type="q80:RetrieveReportSummariesRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveReportSummariesResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveReportSummariesResponse" nillable="true" type="q81:RetrieveReportSummariesResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReportRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="DeleteReportRequest" nillable="true" type="q82:DeleteReportRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReportResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="DeleteReportResponse" nillable="true" type="q83:DeleteReportResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSecuredPartyGroupRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="CreateSecuredPartyGroupRequest" nillable="true" type="q84:CreateSecuredPartyGroupRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSecuredPartyGroupResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="CreateSecuredPartyGroupResponse" nillable="true" type="q85:CreateSecuredPartyGroupResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecuredPartyGroupRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSecuredPartyGroupRequest" nillable="true" type="q86:RetrieveSecuredPartyGroupRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecuredPartyGroupResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSecuredPartyGroupResponse" nillable="true" type="q87:RetrieveSecuredPartyGroupResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecuredPartyGroupHistoryRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSecuredPartyGroupHistoryRequest" nillable="true" type="q88:RetrieveSecuredPartyGroupHistoryRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecuredPartyGroupHistoryResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="RetrieveSecuredPartyGroupHistoryResponse" nillable="true" type="q89:RetrieveSecuredPartyGroupHistoryResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSecuredPartyGroupRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="UpdateSecuredPartyGroupRequest" nillable="true" type="q90:UpdateSecuredPartyGroupRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSecuredPartyGroupResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="UpdateSecuredPartyGroupResponse" nillable="true" type="q91:UpdateSecuredPartyGroupResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAccessCodeRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="ResetAccessCodeRequest" nillable="true" type="q92:ResetAccessCodeRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAccessCodeResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="ResetAccessCodeResponse" nillable="true" type="q93:ResetAccessCodeResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAccessCodeRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="ChangeAccessCodeRequest" nillable="true" type="q94:ChangeAccessCodeRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAccessCodeResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.ppsr.gov.au/2016/05/data" minOccurs="0" name="ChangeAccessCodeResponse" nillable="true" type="q95:ChangeAccessCodeResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>